/* Light Theme */
:root {
  --primary-color: #0277bd; /* Blue */
  --secondary-color: #2e7d32; /* Green */
  --background-color: #e0f7fa; /* Light Cyan */
  --surface-color: #ffffff;
  --text-color: #01579b; /* Dark Blue */
  --font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

/* Dark Theme */
body.dark-theme {
  --primary-color: #4FC3F7;    /* Light Blue */
  --secondary-color: #81C784;  /* Light Green */
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-color: #e0f7fa;      /* Light Cyan */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ngx-charts dark mode fix */
body.dark-theme .ngx-charts text {
  fill: var(--text-color);
}
